html{
	scroll-behavior: smooth;
}

body {
	background: url(papyrus.png) fixed;
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

.middle	{
	background-color: white;
	box-shadow: 0px 0px 20px 4px #4d4d4d83;
}

h1 {
	color: #fafafae0;
	font-size: 50px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	text-shadow: rgba(0, 0, 0, 0.767) 3px 3px 4px;
}

h2 {
	color: rgb(240, 240, 240);
	font-size: 18px;
	margin-top: 2%;
	margin-bottom: 0;
}

h3 {
	text-align: center;
	font-size: 28px;
	font-weight: normal;
}

h4 {
	text-align: center;
	font-size: 24px;
}

small {
	width: 100%;
	text-align: center;
	color: rgb(95, 95, 95);
	font-style: italic;
	font-weight: 200;
}

pre {
	box-shadow: 0px 3px 5px #444;
	max-height: 440px;
}

img {
	box-shadow: 0px 3px 5px #444;
	border-radius: 10px;
}

.navbar {
	width: 100%;
	height: 55px;
	background-color: #202020b9;
	box-shadow: 0px 2px 3px #202020b9;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 500;
}

.nav-item {
	font-size: 12px;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 6px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.nav-link {
	color: white;
	text-decoration: none;
	transition: text-shadow 1s, font-size, 1s;
	font-size: 1.4em;
	text-shadow: 2px 2px 3px black;
}

.nav-link:hover {
	transition: text-shadow 1s, font-size 1s;
	text-shadow: -2px 1px 4px rgb(89, 0, 255);
	font-size: 1.5em;
}

.bio {
	color: white;
	font-size: 17px;
	font-weight: 200;
	margin-top: 25px;
}

.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: hsla(0, 0%, 0%, 0.40);
	margin-top: 40px;
	box-shadow: 3px 4px 12px #444;
}

.about-container {
	padding-top: 60px;
	height:  520px;
	opacity: 1;
}

.about {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.gray {
	height: 3px;
	background-color: lightgray;
	border: none;
	width: 230px;
}

.github {
	transition: transform 0.4s ease;
	width: 125px;
	margin-left: auto;
	margin-right: auto;
}

.github:hover {
	transition: transform 0.4s ease;
	transform: translate(2px, -1px);
}

.github > a {
	text-decoration: none;
	transition: font-size 0.4s ease, text-shadow 0.4s ease;
	color: rgb(89, 0, 255);
	font-size: 100%;
}

.github:hover > a {
	transition: font-size 0.4s ease, text-shadow 0.4s ease;
	text-shadow: -1px 1px 2px #444;
	font-size: 102%;
}

.content {
	background-color: hsla(0, 0%, 0%, 0.46);
	padding: 0px 15px 10px 15px;
	border-radius: 15px;
	box-shadow: 2px 3px 12px #444;
	margin-top: 30px;
}

.section-header {
	padding-top: 120px;
	margin-top: 0;
	position: sticky;
	position: -webkit-sticky;
	top: -60px;
	background-color: white;
	z-index: 1;
}

.section-header > h3 {
	margin-top: 0;
}

.break {
	border: 0;
	height: 1px;
	width: 75%;
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.box {
	float: left;
	width: 42.5%;
	margin-left: 5%;
	margin-top: 50px;
}

.box > h4 > a > i {
	transition: transform 0.3s ease;
}

.box > h4 > a > i:hover {
	transition: transform 0.4s ease;
	transform: translate(1px, -1px);
}

.box > h4 > a {
	color: rgb(89, 0, 255);
	transition: text-shadow 0.3s ease;
}

.box > h4 > a:hover {
	transition: text-shadow 0.4s ease;
	text-shadow: -2px 2px 2px rgba(68, 68, 68, 0.801);
}

.clear {
	clear: both;
}

.full-width {
	width: 100%;
}

.app-img {
	position: relative;
}

.app-img img {
	transition: transform 0.4s, box-shadow 0.4s;
	opacity: 1;
}

.app-img:hover img {
	transition: transform 0.4s ease, box-shadow 0.4s ease;
	box-shadow: -2px 5px 10px rgba(68, 68, 68, 0.863);
	transform: translate(2px, -2px);
}

.overlay {
	transition: transform 0.4s ease, opacity 0.4s ease;
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	text-align: center;
	background-color: #8c8b8b;
}

.overlay > strong {
	position: relative;
	top: 45%;
	font-size: 1.8em;
	color: white;
	text-shadow: 1px 1px 2px #444;
}

.app-img:hover .overlay	{
	transition: transform 0.4s ease, opacity 2.8s ease;
	opacity: 0.5;
	transform: translate(2px, -2px)
}

.skill-and-tools {
	max-width: 400px;
	margin: 40px auto;
}

.icons {
	text-align: center;
}

.icon {
	margin: 30px 0;
}

.contact-me {
	height: 300px;
}

.contact-box {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: auto;
	text-align: center;
	background-color: hsla(0, 0%, 0%, 0.46);
	padding: 10px 15px 10px 15px;
	border-radius: 15px;
	box-shadow: 2px 3px 12px #444;
}

.contact-headline {
	color: white;
	margin-top: 0;
}

.contact-info {
	color: white;
	font-size: 13px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 80%;
}

.contact-email {
	color: white;
	font-size: 13px;
	text-align: center;
}

.contact-link {
	color: white;
	font-weight: 600;
}

.resume-link {
	font-weight: lighter;
	text-decoration: none;
}

.resume-container {
	text-align: center;
	padding-bottom: 20px;
}

#expand-resume {
	transition: text-shadow 0.4s;
}

#expand-resume:hover {
	cursor: pointer;
	transition: text-shadow 0.4s;
	text-shadow: 0px 0px 6px rgb(89, 0, 255);
}

#resume {
	height: 1150px;
	display: none;
}

.cr {
	display: block;
	padding-bottom: 12px;
	font-style: normal;
	color: #8c8b8b;
	z-index: -1;
}
